*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1rem;
}

#editableDiv {
	width: 100%;
	max-width: min(1250px, 90%);
	height: 400px;
	background-color: black;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	overflow-y: auto;
	white-space: pre-wrap;
}

.highlight {
	background-color: rgb(236, 238, 80);
	color: black;
}

.main-container {
	max-width: min(1250px, 90%);
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

select {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}

select {
	width: 100%;
	min-width: 15ch;
	max-width: 30ch;
	border: 1px solid #777;
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
select::after {
	content: '';
	width: 0.8em;
	height: 0.5em;
	background-color: #777;
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

#lang-select {
	font-size: 0.8rem;
}

.velocity-range {
	display: flex;
	gap: 1em;
}
